.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

i{
  font-size: 1.35rem;
  cursor: pointer;
}
body{
  background-color: rgba(9, 10, 24, 0.973);
}
div{
  color: rgb(241, 234, 234);
}
.card{
  background-color: rgba(9, 10, 24, 0.603) ;
}
#exampleModal{
  background-color: rgba(17, 19, 56, 0.534) ;
}
.modal-content{
  background-color: rgba(10, 12, 37, 0.973) ;

}